* {
  box-sizing: border-box;
}

.frame49 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f1f2f3;
  border-radius: 12px;
  background: #ffffff;
  padding: 11px;
  width: 756px;
  height: 58px;

  .frame50 {
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    row-gap: 8px;

    .text {
      flex-shrink: 0;
      align-self: stretch;
      line-height: 14px;
      letter-spacing: 0;
      color: #000000;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 600;
    }

    .text2 {
      flex-shrink: 0;
      align-self: stretch;
      line-height: 12px;
      letter-spacing: 0;
      color: #666666;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  }

  .rectangle44 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-radius: 39px;
    background: #3c82f5;
    padding: 2px 2px 2px 18px;

    .ellipse16 {
      border-radius: 50%;
      background: #ffffff;
      width: 16px;
      height: 16px;
    }
  }
}
